<div class="cart-overlay">
	<div class="cart">
		<span class="close-cart">
			<i class="fas fa-window-close"></i>
		</span>
		<h2>your cart</h2>
		<div class="cart-content">
			<!-- cart item-->

			<!-- end of cart item-->
		</div>
		<!-- cart footer -->
		<div class="cart-footer">
			<p>Your cart it's empty.</p>
		</div>

		<!-- end of cart footer -->
	</div>

	<template id="template-cart">
		<div class="cart-item">
			<img src="/images/product-1.jpeg" alt="product" />
			<div>
				<h4>titulo</h4>
				<h5>precio</h5>
				<!-- 				<button class="remove-item">remove</button> -->
			</div>
			<div>
				<button><i class="fas fa-chevron-up suma"></i></button>
				<p class="item-amount">1</p>
				<button><i class="fas fa-chevron-down resta"></i></button>
			</div>
		</div>
	</template>

	<template id="template-footer">
		<h3>your total: $ <span class="cart-total">0</span></h3>
		<button class="clear-cart banner-btn">clear cart</button>
	</template>
</div>
