<div class="footer">
	<p>
		Creado con <span class="pink"><i class="fas fa-code"></i></span>por
		<a href="https://ceciliadenaro.vercel.app/" target="_blank" rel="noreferrer"
			>Cecilia Denaro</a
		>
	</p>
</div>
