<article class="product">
	<div class="img-container">
		<img src="<%= producto.image %>" alt="product" class="product-img" />
	</div>
	<button class="bag-btn" data-id="<%= producto.id %>">
		<i class="fas fa-cart-plus"></i>
		add to bag
	</button>
	<h3><%= producto.title %></h3>
	<h4><%= producto.price %></h4>
</article>
