<section class="products" id="products">
	<div class="section-title">
		<h2>our products</h2>
	</div>
	<div class="products-center">
		<!-- single product-->
		<% productos.forEach(function(producto) { %> <%- include('./oneProduct',
		{producto:producto}) %> <% }); %>
		<!-- single product-->
	</div>
</section>
